#ajusteImagen{
    width: 75%;
}

.customTab{
    background-color: #d0d0d0;
}

.posicion_icono{
    color: black;
    margin-right: 6px;

}

.customTab a{
    display: flex;
    align-items: center;
    justify-content: center;
}