.page-footer {
    background-color: #007f2f;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.posicionLogo1 {
    width: 16%;
    margin-top: 7px
}

.posicionLogo2 {
    width: 21%;
    margin-top: -10px;
    margin-left: 30px
}

.posicionLogo3 {
    width: 18%;
    margin-top: -10px;
    margin-left: 15px
}

.footer_atri {
    height: 50%;
}
.supspace{
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-right: 30px;
}

.correr{
    padding-left: 150px
}