<footer class="page-footer center-align">
  <div class="container">
    <div class="row supspace">
      <div class="col s5 offset s7 correr">
        <img src="assets/navbar_Elements/logo-min.png" class="posicionLogo1" alt="chec">
        <img src="assets/navbar_Elements/Universidad-de-manizales.png" class="posicionLogo2" alt="um">
        <img src="assets/navbar_Elements/LogoCiad_Abril02-01.png" class="posicionLogo3" alt="ciad">
        
      </div>
      <div class="supspace col s2">
          <h6>Voz del Cliente</h6>
          <p>Versión 1.0.2</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span>CHEC - UM - CIAD © 2018 Todos los derechos reservados</span>
    </div>
  </div>
</footer>
