<div class="row">
  <app-breadcrumb></app-breadcrumb>
</div>


<div class="row">

  <div class="col s12">
    <h3>TITULO FUENTE</h3>
    <app-analisis-button [listaBotonAnalisis]=botonesAnalisis> </app-analisis-button>
  </div>

</div>
<div class="row">

  <div class="col s3">

    <app-filter></app-filter>
    <app-filter></app-filter>
    <app-filter></app-filter>
    <app-filter></app-filter>

  </div>

  <div class="col s5">
    <h4>Resultado Análisis</h4>
    <img src="http://placeimg.com/530/300/any">

    <h4>Gráfica</h4>
    <app-chart></app-chart>

  </div>

  <div class="col s4">

    <app-data-table></app-data-table><br>
    <div>
      <a class="right waves-effect waves-light btn-large" routerLink="/page-descripcion" routerLinkActive="active">
        <i class="material-icons left">arrow_back</i>Atrás</a>
    </div>
  </div>

</div>
