<div class="navbar-fixed responsive">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons iconBig pulse">bubble_chart</i>Voz del cliente</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#" class="tooltipped" data-position="left"
              data-tooltip="Menú Principal"><i class="material-icons iconBig2">home</i></a></li>
            <li><a href="#" class="tooltipped" data-position="left"
              data-tooltip="Búsqueda"><i class="material-icons iconBig2">search</i></a></li>
            <li><a href="#" class="tooltipped" data-position="left"
              data-tooltip="Configuración"><i class="material-icons iconBig2">tune</i></a></li>
            <li><a href="#" class="tooltipped button-collapse2" data-position="left"
              data-tooltip="Panel de Perfil" data-activates="slide-out"><i class="material-icons iconBig2">menu</i></a></li>
          </ul>
      </div>
    </nav>
    
</div>

<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="assets/images/backgroudle.png">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">CHEC Grupo EPM</span></a>
      <a href="#!email"><span class="white-text email">vozdelcliente@chec.com.co</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>

          