<div class="row">
  <div class="col s12">
    <div class="card z-depth-4">
      <div class="card-content">
        <h3 class="card-title">Contextos</h3>
        <p class="text-align: justify">
            <b>Agente: </b>Bienvenido a CHEC. En un momento serás atendido por uno de nuestros asesores.
            <br>
            <b>Agente: </b> Buen Día, Bienvenida a CHEC. Mi nombre es Darly Humanez y seré su asesora durante esta consulta.
            <br>
            <b>Agente: </b> Buenos días Señor Bienvenido a CHEC. Mi nombre es Darly Humanez y seré su asesora durante esta consulta.
            <br>
            <b>Cliente: </b> Gracias darly
            <br>
            <b>Cliente: </b> Me puede <mark>colaborar</mark>  con mi solicitu
            <br>
            <b>Agente: </b> Señora Fernanda permítame un momento por favor consulto la información.
            <br>
            <b>Cliente: </b> Gracias
            <br>
            <b>Agente: </b> Señora Fernanada la cuenta me registra a nombre de Pedro J Sanchez en la cra 23 # 63 60, es correcta la información?
            <br>
            <b>Cliente: </b>Si correcta
            <br>
            <b>Agente: </b> De acuerdo permitame un momento más por favor le brindo la información solicitada
            <br>
            <b>Cliente: </b>Ok gracias
            <br>
            <b>Agente: </b> Gracias por su espera. La cuenta de la factura es 420057284, tiene un saldo de $144,910, 2 meses de deuda
            y fecha máxima de pago de 1 de Junio.
            <br>
            <b>Cliente: </b> Gracias darly
            <br>
            <b>Agente: </b> Le colaboro en algo más Señora Fernanda?
            <br>
            <b>Agente: </b> Señora Fernanda, continúa en línea?
            <br>
            <b>Cliente: </b> Gracias
            <br>
            <b>Cliente: </b>http://www.atencionvirtual.com/website/chec_chat/encuesta.aspx
            <br>
            <b>Cliente: </b>Llamada desconectada. [FERNANDA PLAZAS]
            <br>
          
          </p>
      </div>
      <!-- <div class="card-action">
      </div> -->
    </div>
  </div>
</div>



