<div class="row">
  <div class="col s12">
    <app-word-cloud></app-word-cloud>
  </div>


<!--   <div class="col s2 buttons_circle_right">
    <a class="waves-effect waves-light btn btn-floating btn-large btn tooltipped color_btn" data-position="left" data-tooltip="Word Cloud">
      <i class="material-icons">cloud_circle</i>
    </a>
    <a class="waves-effect waves-light btn btn-floating btn-large btn tooltipped color_btn" data-position="left" data-tooltip="Analisis de Sentimiento">
      <i class="material-icons">insert_emoticon</i>
    </a>
  </div> -->

</div>



