
<div class="container">

  <ul class="collapsible popout">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">assignment</i>Caracterización</div>
      <div class="collapsible-body">
        <hr>
        <h5>¿Qué es?</h5>
        <span>(Aqui va la carga da información)</span>
        <h5>¿Qué encuentro?</h5>
        <span>(Aqui va la carga da información)</span>
        <h5>Ejemplo</h5>
        <span>(Aqui va la carga de información)</span>
        <hr>
        <a routerLink="/page-caracterizacion" routerLinkActive="active" class="waves-effect waves-light btn">
          <i class="material-icons right">keyboard_arrow_right</i>Caracterizar</a>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">widgets</i>Inventario</div>
      <div class="collapsible-body">
        <hr>
        <h5>¿Qué es?</h5>
        <span>(Aqui va la carga da información)</span>
        <h5>¿Qué encuentro?</h5>
        <span>(Aqui va la carga da información)</span>
        <h5>Ejemplo</h5>
        <span>(Aqui va la carga de información)</span>
        <hr>
        <a routerLink="/page-inventario" routerLinkActive="active" class="waves-effect waves-light btn">
          <i class="material-icons right">keyboard_arrow_right</i>ir a inventario</a>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">assessment</i>Análisis</div>
      <div class="collapsible-body">
        <hr>
        <h5>¿Qué es?</h5>
        <span>(Aqui va la carga da información)</span>
        <h5>¿Qué encuentro?</h5>
        <span>(Aqui va la carga da información)</span>
        <h5>Ejemplo</h5>
        <span>(Aqui va la carga de información)</span>
        <hr>
        <a routerLink="/page-analisis" routerLinkActive="active" class="waves-effect waves-light btn">
          <i class="material-icons right">keyboard_arrow_right</i>Analizar</a>
      </div>
    </li>
  </ul>


</div>
