<div class="row">
  <app-breadcrumb></app-breadcrumb>
</div>

<div class="row">

  <div class="col s3">

    <h4>INVENTARIO</h4>
    <h5>(nombre de la fuente)</h5>

    <app-filter [listaOpciones]=listaFuentes [tituloLabel]=tituloFuentes [tituloMain]=tituloMainFuentes></app-filter>
    <app-filter [listaOpciones]=listaAnos [tituloLabel]=tituloAnos [tituloMain]=tituloMainAnos></app-filter>
    <app-filter [listaOpciones]=listaMeses [tituloLabel]=tituloMeses [tituloMain]=tituloMainMeses></app-filter>
    <app-filter [listaOpciones]=listaZonas [tituloLabel]=tituloZonas [tituloMain]=tituloMainZonas></app-filter>
    <app-filter [listaOpciones]=listaMunicipios [tituloLabel]=tituloMunicipios [tituloMain]=tituloMainMunicipios></app-filter>
    <app-filter [listaOpciones]=listaUbicaciones [tituloLabel]=tituloUbicaciones [tituloMain]=tituloMainUbicaciones></app-filter>
  </div>

  <div class="col s9">
    <app-chart></app-chart>
    <app-data-table></app-data-table>
    <br>
    <div>
        <a class="right waves-effect waves-light btn-large" routerLink="/page-descripcion" routerLinkActive="active">
          <i class="material-icons left">arrow_back</i>Atrás</a>
      </div>
    
    
  </div>

</div>
