.button {
  width: 46%;
  height: 180px;
  font-size: 30px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 50px;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(255, 255, 255) !important;
  color: #007f2f;
  box-shadow: inset 0 0 0 3px#007f2f;
}

.azul {
  background-color: #4C8EFF !important;
}

.verde {
  background-color: rgb(94, 133, 30) !important;
}

.rojo {
  background-color: rgb(255, 53, 30) !important;
}

.amarillo {
  background-color: rgb(237, 182, 43) !important;
}

.button span {
  font-size: 1.5vw;
}

.button i {
  font-size: 65px;
}
