<!-- Navbar goes here -->
<app-navbar></app-navbar>
<!-- Page Layout here -->
<div class="row">

  <div class="col s4">
    <app-filter [listaOpciones]=listaFuentes [tituloLabel]=tituloFuentes [tituloMain]=tituloMainFuentes></app-filter>
    <app-filter [listaOpciones]=listaMeses [tituloLabel]=tituloMeses [tituloMain]=tituloMainMeses></app-filter>
    <app-filter [listaOpciones]=listaAnos [tituloLabel]=tituloAnos [tituloMain]=tituloMainAnos></app-filter>
    
    <!-- Note that "m4 l3" was added -->
    <!-- Grey navigation panel
      
                    This content will be:
                3-columns-wide on large screens,
                4-columns-wide on medium screens,
                12-columns-wide on small screens  -->
  </div>

  <div class="col s8">
      <app-content></app-content>
    <!-- Note that "m8 l9" was added -->
    <!-- Teal page content
      
                    This content will be:
                9-columns-wide on large screens,
                8-columns-wide on medium screens,
                12-columns-wide on small screens  -->

  </div>

</div>

<app-footer></app-footer>