<div class="container">

  <div class="col s12">
      <h2 class="header">Título Fuente</h2>
      <div class="card horizontal">
        <div class="card-image">
            <img src="http://via.placeholder.com/200x200">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span>Numero de Registros: </span><span>(Aquí va la carga de información)</span><br>
            <span>Formato: </span><span>(Aquí va la carga de información)</span><br>
            <span>Descripción: </span><span>(Aquí va la carga de información)</span>
          </div>
          <div class="card-action">
          </div>
        </div>
      </div>
    </div>


</div>