<div class="container">
    <h3>(Aquí va el titulo de la fuente)</h3>
    <div class="card hover-reveal">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://gcn.com/~/media/GIG/GCN/Redesign/Articles/2016/June/socialmediacallcenter.png" height="325">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Pequeña Descripción</span>
      </div>
      <div class="card-action">
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Contact Center (Fecha de actualización)
          <i class="material-icons right">close</i>
        </span>
        <!-- <input id="search" type="search" placeholder="Search for ingredients..."> -->
        <ul class="tabs">
          <li class="tab">
            <a href="#ingredients" class="active">Información Adicional</a>
          </li>
          <li class="tab">
            <a href="#directions">Descripción</a>
          </li>
        </ul>
        <div id="ingredients">
          <table class="bordered highlight">
            <thead>
              <tr>
                <th data-field="id">Item</th>
                <th data-field="quantity">Valor</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>Número de Registros</td>
                <td>(Aquí va la carga de data)</td>
              </tr>
              <tr>
                <td>Formato</td>
                <td>(Aquí va la carga de data)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="directions">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatem 
          voluptatibus a rem voluptatum delectus, iusto assumenda ratione aliquid soluta repellendus accusamus 
          officiis unde molestiae quaerat omnis obcaecati. Ducimus, molestias.
        </div>
      </div>
    </div>
</div>

