<table class="bordered highlight striped centered responsive-table">
    <thead>
      <tr>
        <th>Mes</th>
        <th>Cantidad de Observaciones PQR</th>
        <!--         <th>Item Price</th>
   -->
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td>Enero</td>
        <td>3449</td>
      </tr>
      <tr>
        <td>Febrero</td>
        <td>3635</td>
      </tr>
      <tr>
        <td>Marzo</td>
        <td>3861</td>
      </tr>
      <tr>
        <td>Abril</td>
        <td>4737</td>
      </tr>
      <tr>
        <td>Mayo</td>
        <td>5698</td>
      </tr>
      <tr>
        <td>Junio</td>
        <td>10984</td>
      </tr>
      <tr>
        <td>Julio</td>
        <td>15019</td>
      </tr>
      <tr>
        <td>Agosto</td>
        <td>14219</td>
      </tr>
      <tr>
        <td>Septiembre</td>
        <td>380</td>
      </tr>
      <tr>
        <td>Octubre</td>
        <td>618</td>
      </tr>
      <tr>
        <td>Noviembre</td>
        <td>380</td>
      </tr>
      <tr>
        <td>Diciembre</td>
        <td>222</td>
      </tr>
    </tbody>
  </table>
  